.cuadricula-botones {
    display: grid;
    /* Cambiamos la organización a 5 columnas y 2 filas */
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    justify-content: center;
}

/* Borramos la regla antigua que centraba el 0, ahora todos se acomodan solos */

button {
    /* Estilo diferenciador: Botones transparentes tipo Neón */
    background-color: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    border-radius: 8px; /* Rectangulares con bordes suaves */
    width: 100%;
    height: 45px; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 0 5px rgba(0, 255, 204, 0.2);
}

button:hover { 
    background-color: rgba(0, 255, 204, 0.1); 
    transform: translateY(-2px);
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
}

button:active { 
    transform: scale(0.9); 
    background-color: #00ffcc; 
    color: #000;
}
